$colorPrimary: #FF0044;
$colorSecondary: rgb(255, 195, 209);
$colorDarkest: rgb(167, 0, 44);


.centered {
    width: 600px;
    margin: auto;
    //padding-top: 3rem;

    h2 {
        display: block;
        color: $colorDarkest;
        text-align: center;
    }
}

.listStyle {
    padding-left: 0;
    
    li {
        list-style-type: none;

        margin: 0.4rem 0 ;
        border-bottom: 2px solid $colorSecondary;
        
    }
}

.form {
    @extend .centered;

    margin-top: 3rem;

    .formSegment {
        margin-top: 1.4rem;
    }

    label {
        
    }
    .input {
        display: block;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        margin-top: 0.8rem;

        font-size: 1.0rem;
        line-height: 1.2rem;
        padding: 0.4rem;

        border: 1px solid black;
        border-radius: 4px;

        &:focus {
            outline: solid 2px $colorPrimary;
        }
    }
    .inputSmall {
    }
    .inputTextarea {
        height: 6rem;
        resize: none;
    }
}

.button {
    background: none;
    text-decoration: none;
    border: none;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 10px;

    font-weight: 800;

    color: $colorSecondary;
    background-color: $colorPrimary;

    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: $colorDarkest;
    }
}

.horizontalDivide {
    border-top: 4px solid $colorPrimary;
}